<!doctype html>
<html>

<!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/categories-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2024 06:56:28 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Category</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->

    <!--plugin css file -->
    <link rel="stylesheet" href="/assets/plugin/cropper/cropper.min.css">   
    <link rel="stylesheet" href="/assets/plugin/dropify/dist/css/dropify.min.css"/>
    
    <!-- Project css file  -->
    <link rel="stylesheet" href="/assets/css/ebazar.style.min.css">
</head>
<body>
    <div id="ebazar-layout" class="theme-blue">
        
        <!-- sidebar -->
        <div class="sidebar px-4 py-4 py-md-4 me-0">
            <div class="d-flex flex-column h-100">
                <a href="index.html" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <i class="bi bi-bag-check-fill fs-4"></i>
                    </span>
                    <span class="logo-text">Pawty</span>
                </a>
               <!-- Menu: main ul -->
               <ul class="menu-list flex-grow-1 mt-3">
                <li><a class="m-link" href="/Dashboard"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a></li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" href="/admin-ProductView">
                        <i class="icofont-truck-loaded fs-5"></i> <span>Products</span>
                    </a>
                </li>
                <li class="collapsed">
                    <a class="m-link active" data-bs-toggle="collapse" data-bs-target="#categories" href="#">
                        <i class="icofont-chart-flow fs-5"></i> <span>Categories</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="categories">
                            <li><a class="ms-link" href="/categories">Categories List</a></li>
                            <!-- <li><a class="ms-link" href="categories-edit.html">Categories Edit</a></li> -->
                            <li><a class="ms-link" href="/addCategory">Categories Add</a></li>
                        </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#subcategories" href="#">
                        <i class="icofont-chart-flow fs-5"></i> <span>Sub-Categories</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="subcategories">
                            <li><a class="ms-link" href="/subCategories">Sub-Categories List</a></li>
                            <!-- <li><a class="ms-link" href="categories-edit.html">Sub-Categories Edit</a></li> -->
                            <li><a class="ms-link" href="/addSubCategory">Sub-Categories Add</a></li>
                        </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-order" href="#">
                    <i class="icofont-notepad fs-5"></i> <span>Orders</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-order">
                        <li><a class="ms-link" href="order-list.html">Orders List</a></li>
                        <li><a class="ms-link" href="order-details.html">Order Details</a></li>
                        <li><a class="ms-link" href="order-invoices.html">Order Invoices</a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#customers-info" href="#">
                    <i class="icofont-funky-man fs-5"></i> <span>Customers</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="customers-info">
                        <li><a class="ms-link" href="customers.html">Customers List</a></li>
                        <li><a class="ms-link" href="customer-detail.html">Customers Details</a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-sale" href="#">
                    <i class="icofont-sale-discount fs-5"></i> <span>Coupons</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-sale">
                        <li><a class="ms-link" href="coupons-list.html">Coupons List</a></li>
                        <li><a class="ms-link" href="coupon-add.html">Coupons Add</a></li>
                        <li><a class="ms-link" href="coupon-edit.html">Coupons Edit</a></li>
                    </ul>
                </li>
                <!-- <li class="collapsed"> -->
                    <!-- <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-inventory" href="#"> -->
                    <!-- <i class="icofont-chart-histogram fs-5"></i> <span>Inventory</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a> -->
                    <!-- Menu: Sub menu ul -->
                    <!-- <ul class="sub-menu collapse" id="menu-inventory">
                        <li><a class="ms-link" href="inventory-info.html">Stock List</a></li>
                        <li><a class="ms-link" href="purchase.html">Purchase</a></li>
                        <li><a class="ms-link" href="supplier.html">Supplier</a></li>
                        <li><a class="ms-link" href="returns.html">Returns</a></li>
                        <li><a class="ms-link" href="department.html">Department</a></li>
                    </ul> -->
                <!-- </li> -->
                <!-- <li class="collapsed"> -->
                    <!-- <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Componentsone" href="#"><i -->
                            <!-- class="icofont-ui-calculator"></i> <span>Accounts</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a> -->
                    <!-- Menu: Sub menu ul -->
                    <!-- <ul class="sub-menu collapse" id="menu-Componentsone">
                        <li><a class="ms-link" href="invoices.html">Invoices </a></li>
                        <li><a class="ms-link" href="expenses.html">Expenses </a></li>
                        <li><a class="ms-link" href="salaryslip.html">Salary Slip </a></li>
                        <li><a class="ms-link" href="create-invoice.html">Create Invoice </a></li>
                    </ul> -->
                <!-- </li> -->
                    <!-- Menu: Sub menu ul -->
                    <!-- <ul class="sub-menu collapse" id="app">
                        <li><a class="ms-link" href="calendar.html">Calandar</a></li>
                        <li><a class="ms-link" href="chat.html"> Chat App</a></li>
                    </ul>
                </li> -->
                    <!-- Menu: Sub menu ul -->
                    <!-- <ul class="sub-menu collapse" id="page">
                        <li><a class="ms-link" href="admin-profile.html">Profile Page</a></li>
                        <li><a class="ms-link" href="purchase-plan.html">Price Plan Example</a></li>
                        <li><a class="ms-link" href="charts.html">Charts Example</a></li>
                        <li><a class="ms-link" href="table.html">Table Example</a></li>
                        <li><a class="ms-link" href="forms.html">Forms Example</a></li>
                        <li><a class="ms-link" href="icon.html">Icons</a></li>
                        <li><a class="ms-link" href="contact.html">Contact Us</a></li>
                        <li><a class="ms-link" href="todo-list.html">Todo List</a></li>
                    </ul>
                </li> -->
            </ul>
                <!-- Menu: menu collepce btn -->
                <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                    <span class="ms-2"><i class="icofont-bubble-right"></i></span>
                </button>
            </div>
        </div>    

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4"> 
            <!-- Body: Header -->
            <div class="header">
                <nav class="navbar py-4">
                    <div class="container-xxl">
        
                        <!-- header rightbar icon -->
                        <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                            <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-end ms-5 zindex-popover">
                                <div class="u-info me-2">
                                    <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">hamimthoyyib</span></p>
                                    <small>Admin Profile</small>
                                </div>
                                <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                    <img class="avatar lg rounded-circle img-thumbnail" src="assets/images/profile_av.svg" alt="profile">
                                </a>
                                <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                    <div class="card border-0 w280">
                                        <div class="card-body pb-0">
                                            <div class="d-flex py-1">
                                                <img class="avatar rounded-circle" src="assets/images/profile_av.svg" alt="profile">
                                                <div class="flex-fill ms-3">
                                                    <p class="mb-0"><span class="font-weight-bold">Hamim Thoyyib</span></p>
                                                    <small class="">hamimthoyyib@gmail.com</small>
                                                </div>
                                            </div>
                                            
                                            <div><hr class="dropdown-divider border-dark"></div>
                                        </div>
                                        <div class="list-group m-2 ">
                                            <a href="admin-profile.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-user fs-5 me-3"></i>Profile Page</a>
                                            <a href="order-invoices.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-file-text fs-5 me-3"></i>Order Invoices</a>
                                            <a href="/logout" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-5 me-3"></i>Signout</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>        
                        <!-- menu toggler -->
                        <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                            <span class="fa fa-bars"></span>
                        </button>
        
                        <!-- main menu Search-->
                        <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                            <div class="input-group flex-nowrap input-group-lg">
                                <input type="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping">
                                <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button>
                                
                            </div>
                        </div>
        
                    </div>
                </nav>
            </div>

            <!-- Body: Body -->
            <div class="body d-flex py-3">
                <div class="container-xxl">

                    <div class="row align-items-center">
                        <div class="border-0 mb-4">
                            <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                <h3 class="fw-bold mb-0">Edit Category</h3>
                            </div>
                        </div>
                    </div> <!-- Row end  -->  
                    
                    <!-- <div class="row g-3 mb-3">
                        <div class="col-lg-4">
                            <div class="sticky-lg-top">
                                <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                                        <h6 class="m-0 fw-bold">Visibility Status</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="couponsstatus" checked>
                                            <label class="form-check-label">
                                                Published
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="couponsstatus">
                                            <label class="form-check-label">
                                                Scheduled
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="couponsstatus">
                                            <label class="form-check-label">
                                                Hidden
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                                        <h6 class="m-0 fw-bold">Publish Schedule</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row g-3 align-items-center">
                                            <div class="col-md-12">
                                                <label  class="form-label">Publish Date</label>
                                                <input type="date" class="form-control w-100">
                                            </div>
                                            <div class="col-md-12">
                                                <label  class="form-label">Publish Time</label>
                                                <input type="time" class="form-control w-100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
                                        <h6 class="m-0 fw-bold">Categories</h6>
                                    </div>
                                    <div class="card-body">
                                        <label  class="form-label">Parent category Select</label>
                                        <select class="form-select" size="3" aria-label="size 3 select example">
                                            <option value="2">Clothes</option>
                                            <option value="3">Toy</option>
                                            <option value="4">Cosmetic</option>
                                            <option value="5">Laptop</option>
                                            <option value="6">Mobile</option>
                                            <option value="7">Watch</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-header py-3 bg-transparent border-bottom-0">
                                        <h6 class="m-0 fw-bold">Categories Image Upload</h6>
                                        <small>With event and default file try to remove the image</small>
                                    </div>
                                    <div class="card-body">
                                        <input type="file" id="dropify-event" data-default-file="assets/images/product/cropimg-upload.jpg">
                                    </div>
                                </div>
                            </div> 
                         </div> -->
                        <div class="col-lg-8">
                            <div class="card mb-3">
                                <!-- <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                    <h6 class="mb-0 fw-bold ">Basic information</h6>
                                </div> -->
                                <div class="card-body">
                                    <form method="post" action="/editCategory/<%= category._id %>">
                                        <div class="row g-3 align-items-center">
                                            <div class="col-12">
                                                <label for="categoryName"  class="form-label">Category Name</label>
                                                <input name="categoryName" id="category" value='<%= category.categoryName %>'  type="text" class="form-control">
                                                <small><b><span class="text-danger" id="Errormessage"></span></b></small>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" style="margin-top:0px;" class="col-6 form-control btn btn-primary py-2 px-5 mt-3 text-uppercase btn-set-task w-sm-100">Save Changes</button>
                                            </div>
                                            
                                            <!-- <div class="col-md-6">
                                                <label class="form-label">Page Title</label>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label">Product Identifier URL</label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">https://eBazar.com</span>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label">Product Description</label>
                                                <div id="editor">
                                                    <h4>Please add Product Description here</h4>
                                                </div>
                                            </div>
                                        </div> -->
                                    </form>
                                    <script>
                                        document.querySelector('form').addEventListener('submit', function(event) {
                                            let categoryInput = document.getElementById('category');
                                            let errorMessage = document.getElementById('Errormessage');

                                            if (categoryInput.value.trim() === '') {
                                                errorMessage.textContent = 'Category name cannot be empty';
                                                event.preventDefault(); 
                                            } else {
                                                errorMessage.textContent = '';
                                            }
                                        });
                                </script>
                                </div>
                            </div>
                            
                    </div><!-- Row end  --> 

                </div>
            </div>    
        </div>       

    </div>

    <!-- Jquery Core Js -->      
    <script src="/assets/bundles/libscripts.bundle.js"></script>

    <!-- Jquery Plugin -->  
    <script src="../../../../../cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script src="/assets/plugin/cropper/cropper.min.js"></script>
    <script src="/assets/plugin/cropper/cropper-init.js"></script>
    <script src="/assets/bundles/dropify.bundle.js"></script>

    <!-- Jquery Page Js -->   
    <script src="../js/template.js"></script>
    <script>
        
        $(document).ready(function() {
        //Ch-editer
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
            //Deleterow
            $("#tbproduct").on('click', '.deleterow', function () {
                $(this).closest('tr').remove();
            });
            
        });

        $(function() {
            $('.dropify').dropify();

            var drEvent = $('#dropify-event').dropify();
            drEvent.on('dropify.beforeClear', function(event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function(event, element) {
                alert('File deleted');
            });

            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });
        });
            
    </script>
</body>

<!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/categories-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2024 06:56:28 GMT -->
</html> 